body{
    background-color: blueviolet;
}

.imgBox{
    background-image: url('photo.jpg');
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    cursor: pointer;
}
.whiteBox{
    border-color: black;
    display: inline-block;
    margin: 5px;
    position: relative;
    background-color: white;
    height: 100px;
    width: 100px;
}
